<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101162702418-f85nuupeesvcvgdnaoa2610ktm6n0fvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101162702418-f85nuupeesvcvgdnaoa2610ktm6n0fvr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101162702418-vrpthfote9cmq0n5ukb4rjc11pq6ee6s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFEoqzTJWjzFqZk4Nib4i5YNVZL-PTACo</string>
	<key>GCM_SENDER_ID</key>
	<string>101162702418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhautik.chatty</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatty-8cc59</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatty-8cc59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101162702418:ios:c5673c27956d48339ff18b</string>
</dict>
</plist>